/* This is to make the recipe page's mobile responsiveness */
/* Mobile responsiveness */
@media only screen and (max-width: 600px){
    #logo{
        display: inline;
        font-size: 0.3rem;
    }
    nav a{
        display: none;
    }
    header div{
        position: relative;
        top: 0.4px;
        left: 17%;
    }
    input{
        width: 320px;
        height: 37px;
        border-radius: 22px;
        font-size: 1rem;
    }
    #toggleimg{
        height: 20px;
        display: inherit;
    }
    .head-image1{
        position: relative;
        top: 20px;
        background-size: 100%;
    }
    .head-image1 h1{
        left: 60px;
        top: 30px;
        font-size: 1rem;
    }
    .head-image1 p{
        position: relative;
        top: -215px;
        left: -110px;
        font-size: 0.7rem;
    }
    .head-image2{
        position: relative;
        bottom: 60px;
    }
    .recipie-container{
        border-radius: 20px;
        background: rgba(223, 255, 255, 0.76);
        height: 818px;
        width: 480px;
    }
    #recipie-img{
        width: 480px;
        height: 318px;
        border-radius: 20px 20px 20px 20px;
    }
    .text{
        position: relative;
        left: 50px;
        top: 10px;
    }
    .text h2{
        font-size: 1.2rem;
    }
    .ingredients-container{
        position: relative;
        left: 50px;
        width: 400px;
    }
    .instruction-container{
        overflow-y: scroll;
        font-size: 0.7rem;
        position: relative;
        width: 400px;
        height: 180px;
        font-weight: lighter;
    }
    .row1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .row1 > * {
        flex: 0 0 calc(23.33% - 10px);
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    #recipie-namecontainer{
        width: 200px;
    }
    .try-btn{
        position: relative;
        top: 80px;
        left: 100px;
    }
    #try-btn{
        font-size: 0.8rem;
    }
    #fork{
        height: 30px;
    }
    #image{
        width: 273px;
        height: 205px;
    }
    #trybtn{
        position: relative;
        left: 170px;
        top: 50px;
    }
}